/**
 * Copyright 2012 Google, Inc. All Rights Reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Navbar CSS.
 *
 * @author benvanik@google.com (Ben Vanik)
 */

@appUiDocumentViewNavbarDefaultHeight: 230px;
@appUiDocumentViewNavbarTimelineHeight: 40px;

/* Navbar root. */
.appUiNavbar {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  height: @appUiDocumentViewNavbarDefaultHeight;
  overflow: hidden;
  background: white;
}

.appUiNavbarTimeline {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: @appUiDocumentViewNavbarTimelineHeight;
  overflow: hidden;
  background-color: white;
}

.appUiNavbarFramebar {
  position: absolute;
  left: 0;
  right: 0;
  top: @appUiDocumentViewNavbarTimelineHeight;
  bottom: 0;
  overflow: hidden;
  background-color: white;
}

.appUiNavbarSplitter {}
