/**
 * Copyright 2012 Google, Inc. All Rights Reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Timeline CSS.
 *
 * @author benvanik@google.com (Ben Vanik)
 */

@appUiTimelineInfoWidth: 300px;

/* Timeline root. */
.appUiTimeline {
  .fitParent();
  background: white;
  border-bottom: 1px solid #EBEBEB;
}

.appUiTimelineOuter {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  margin-right: @appUiTimelineInfoWidth;
  border-right: 1px solid #ebebeb;
}

.appUiTimelineCanvas {
  cursor: crosshair;
}

.appUiTimelineInfoOuter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: @appUiTimelineInfoWidth;
}
.appUiTimelineInfo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 3px;
  overflow: hidden;
}
