/**
 * Copyright 2013 Google, Inc. All Rights Reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * A container for canvases for graphics replay.
 *
 * @author chizeng@google.com (Chi Zeng)
 */

{namespace wtf.replay.graphics.ui.canvasArea}

/**
 * Area for canvases.
 */
{template .controller}
  <div class="{css replayGraphicsCanvasArea}">
  </div>
{/template}
