[submodule "third_party/closure-compiler"]
	path = third_party/closure-compiler
	url = https://github.com/benvanik/google-closure-compiler-bin.git
[submodule "third_party/closure-templates"]
	path = third_party/closure-templates
	url = https://github.com/benvanik/google-closure-templates-bin.git
[submodule "third_party/closure-stylesheets"]
	path = third_party/closure-stylesheets
	url = https://github.com/benvanik/google-closure-stylesheets-bin.git
[submodule "third_party/anvil-build"]
	path = third_party/anvil-build
	url = https://github.com/benvanik/anvil-build.git
[submodule "third_party/closure-linter"]
	path = third_party/closure-linter
	url = https://github.com/knutwalker/google-closure-linter.git
[submodule "third_party/normalize.css"]
	path = third_party/normalize.css
	url = https://github.com/necolas/normalize.css.git
