/**
 * Copyright 2012 Google, Inc. All Rights Reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Statusbar DOM.
 *
 * @author benvanik@google.com (Ben Vanik)
 */

{namespace wtf.app.ui.statusbar}


/**
 * Root control UI.
 */
{template .control}
  <div class="{css wtfAppUiStatusbar}">
    [statusbar]
  </div>
{/template}
