/**
 * Copyright 2012 Google, Inc. All Rights Reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * TracksPanel info bar CSS.
 *
 * @author benvanik@google.com (Ben Vanik)
 */

@wtfAppUiTracksPanelInfoHeaderHeight: 40px;

.wtfAppUiTracksPanelInfoOuter {
}

.wtfAppUiTracksPanelInfoHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: @wtfAppUiTracksPanelInfoHeaderHeight - 5px;
  border-bottom: 1px solid #ebebeb;
  padding-left: 5px;
  padding-top: 5px;
}

.wtfAppUiTracksPanelInfoHeader .kSearchField {
}

.wtfAppUiTracksPanelInfoContent {
  position: absolute;
  left: 0;
  right: 0;
  top: @wtfAppUiTracksPanelInfoHeaderHeight;
  bottom: 0;
  padding: 3px;
  overflow-x: hidden;
  overflow-y: auto;
}


@wtfAppUiTracksPanelInfoEntryHeaderX: 60px;

.wtfAppUiTracksPanelInfoEntry {
  position: relative;
  height: 26px;
  font-family: monospace;
  font-size: 11px;
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-bottom: 2px;
  cursor: pointer;
}
.wtfAppUiTracksPanelInfoEntryHeader {
  position: relative;
}
.wtfAppUiTracksPanelInfoEntryValue {
  position: relative;
  left: 0;
  width: @wtfAppUiTracksPanelInfoEntryHeaderX;
  top: 0;
  height: 13px;
  text-align: right;
  font-weight: bold;
}
.wtfAppUiTracksPanelInfoEntryTitle {
  position: absolute;
  left: @wtfAppUiTracksPanelInfoEntryHeaderX;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 4px;
}
.wtfAppUiTracksPanelInfoEntryContent {
  position: absolute;
  top: 13px;
  left: @wtfAppUiTracksPanelInfoEntryHeaderX;
  right: 0;
  height: 13px;
  padding-left: 4px;
  color: rgb(160, 160, 160);
  font-size: 10px;
}
