/**
 * Copyright 2013 Google, Inc. All Rights Reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * CanvasPanel DOM.
 *
 * @author benvanik@google.com (Ben Vanik)
 */

{namespace wtf.app.graphics.canvaspanel}


/**
 * Root control UI.
 */
{template .control}
  <div class="{css appUiTabPanel} {css appUiCanvasPanel}">
  </div>
{/template}
