/**
 * Copyright 2012 Google, Inc. All Rights Reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/**
 * Main display DOM.
 *
 * @author benvanik@google.com (Ben Vanik)
 */

{namespace wtf.app.maindisplay}


/**
 * Root control UI.
 */
{template .control}
  <div class="{css appUiMainDisplay}">
    <div class="{css appUiMainDocumentView}">
    </div>
  </div>
{/template}
